*{
	padding: 0;
	margin: 0;
}

.image_area {
	margin: 0 auto;
	width: 720px;
	padding: 5px 0;
}
.active img {
	width: 100%;
	height: 520px;
}
.img_gallary img {
	width: 100%;
	cursor: pointer;
	height: 150px
}
.img_gallary {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 3px;
}

@keyframes fadein {
	to{
		transition: all 5s;
	}
}
.fade {
	animation: fadein 1s;
	transform: all 5s;
}

/* for 720px screen */

@media (max-width: 720px) {
	.img_gallary {
		grid-template-columns: repeat(2,auto);
	}
.image_area {
	width: 460px;
}


}


/* for  600px below*/
@media (max-width: 600px) {
	.img_gallary {
		grid-template-columns: repeat(2,auto);
	}
.image_area {
	width: 420px;
}


}
